@font-face {
  font-family: Brush Script MT;
  src: url(./font/BRUSHSCI.ttf);
}

@font-face {
  font-family: Acumin Pro SemiBold;
  src: url(./font/AcuminPro-SemiBold.otf);
}

@font-face {
  font-family: Castoro;
  src: url(./font/Castoro-Regular.ttf);
}

@font-face {
  font-family: Acumin Pro Medium;
  src: url(./font/AcuminPro-Medium.otf);
}
